<header class="site-header">
  <div class="container">

    <nav class="site-header__navigate">
      <a class="site-header__logo" [routerLink]="'/'"><span class="color-brand">book</span>seller</a>

      <div class="site-header__user-menu" >
        <ng-container *ngIf="(user$ | async) as user; else userMenu">
          <neo-ui-button
            [theme]="'brand'"
            [size]="'large'"
            [routerLink]="'/user'"
          >
            {{ user.name || user.id }}
          </neo-ui-button>
        </ng-container>
        <ng-template #userMenu>
          <neo-ui-button
            [theme]="'brand'"
            [size]="'large'"
            (click)="openLoginModal()"
          >
            Войти
          </neo-ui-button>
        </ng-template>
      </div>
    </nav>



  </div>
</header>
