@use 'node_modules/ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;

.site-header {
  background: var(--colorBase);
  color: #fff;

  &__navigate {
    @include theme.mq(sm) {
      padding: 8px 0;
    }

    @include theme.mq(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__navigate-menu {
    display: flex;
    margin: 0 -8px;

    @include theme.mq(sm) {
      justify-content: center;
    }

    > li {
      a,
      button {
        display: block;
        padding: 8px 8px;
        color: #fff;

        &:hover {
          color: var(--colorSound);
        }
      }
    }
  }

  &__navigate-user-actions {
    display: flex;

    @include theme.mq(sm) {
      justify-content: center;
    }
  }
}
