<article class="book-card"
         [ngClass]="{'book-card--disable': bookInfo.ageRestriction && (bookInfo.ageRestriction > (userAge ? userAge : 0))}"
>
  <div class="book-card__image">
    <img [src]="bookInfo.src" [srcset]="bookInfo.srcset" [alt]="">
  </div>
  <header class="book-card__header">
    <div class="book-card__author">
      <a [routerLink]="'books/' + bookInfo.id">{{ bookInfo.author }}</a>
    </div>
    <h3 class="heading-h5"><a [queryParams]="{ageRestriction: bookInfo.ageRestriction}" [routerLink]="'/books/' + bookInfo.id">{{ bookInfo.title }}</a></h3>
  </header>
</article>

