<div class="site-footer">
  <div class="container">
    <div class="site-footer__grid">
      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4  mb-16">
          Каталог
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Транспорт</a></li>
          <li><a href="#">Работа</a></li>
          <li><a href="#">Недвижимость</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Личные вещи</a></li>
          <li><a href="#">Бизнес и оборудование</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title site-footer__title--opacity heading-h4 mb-16">
          Каталог
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Для дома и дачи</a></li>
          <li><a href="#">Запчасти и аксессуары</a></li>
          <li><a href="#">Электроника</a></li>
          <li><a href="#">Хобби и отдых</a></li>
          <li><a href="#">Животные</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4 mb-16">
          Информация
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">О сайте</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4 mb-16">
          Контакты
        </h4>
        <ul class="text-base-small">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">117534, г. Москва, ул. Кировоградская, д.42.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
