
<div class="promo">
  <div class="promo__container">
    <div class="promo__content">
      <span class="color-brand">B</span>
      <a href="#" class="book fat-1"><span>Детская</span></a>
      <a href="#" class="book fat-2"><span>История</span></a>
        <span class="color-brand">K</span>SE
      <a href="#" class="book red"><span>Классика</span></a>
      <a href="#" class="book grass"><span>Детектив</span></a>
      <a href="#" class="book"><span>Философия</span></a>
      <a href="#" class="book grass"><span>Фантастика</span></a>
      ER
    </div>
  </div>
</div>
