<div class="catalog">
  <div class="catalog__grid">
    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Транспорт</a></h3>
        </div>
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_1.png" class="lazy" data-src="/upload/uf/e4b/h6g869wj67d74pw2s1yq6xn8szzpse2e.png" alt="Собаки">
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <div class="catalog__col-container-content">
          <div class="catalog__col-container-content">
            <h3 class="catalog__col-container-title text-base-small"><a href="">Работа</a></h3>
          </div>
        </div>
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_110.png" class="lazy" data-src="/upload/uf/e55/xsa8is627afgxghuq1ah3gi9f5unud5v.png" alt="Птицы">
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_4_v2.png" class="lazy" data-src="/upload/uf/853/besy030g8udl3r045932gadylgzsgs8a.png" alt="Кошки">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Недвижимость</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_114.png" class="lazy" data-src="/upload/uf/7e5/tj937r2vupggzr3l023sphipfn5i3gts.png" alt="Рыбки">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Услуги</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_88.png" class="lazy" data-src="/upload/uf/cd7/o0v5n8p7qa7vlu11eboqz0f3d0o3qfe4.png" alt="Лошади">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Личные вещи</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_8_v2.png" class="lazy" data-src="/upload/uf/6fd/9jz6l42jgws2o03yx476yuk5uinbwo2k.png" alt="Грызуны и кролики">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Бизнес и оборудование</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_10.png" class="lazy" data-src="/upload/uf/569/j7h7fuc5j324wprj4rx1dlt8dcumuo36.png" alt="Ветаптека">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Запчасти и аксессуары</a></h3>
        </div>
      </div>
    </div>
    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_6.png" class="lazy" data-src="/upload/uf/569/j7h7fuc5j324wprj4rx1dlt8dcumuo36.png" alt="Ветаптека">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Электроника</a></h3>
        </div>
      </div>
    </div>
    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_7.png" class="lazy" data-src="/upload/uf/569/j7h7fuc5j324wprj4rx1dlt8dcumuo36.png" alt="Ветаптека">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Хобби и отдых</a></h3>
        </div>
      </div>
    </div>
    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_35.png" class="lazy" data-src="/upload/uf/569/j7h7fuc5j324wprj4rx1dlt8dcumuo36.png" alt="Ветаптека">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Животные</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_2_v2.png" class="lazy" data-src="/upload/uf/220/5x6pgqskswrooh03aak61sxuzz76axdc.png" alt="Рептилии и террариумистика">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Для дома и дачи</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_30.png" class="lazy" data-src="/upload/uf/220/5x6pgqskswrooh03aak61sxuzz76axdc.png" alt="Рептилии и террариумистика">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Товары для детей</a></h3>
        </div>
      </div>
    </div>
    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_24_str.png" class="lazy" data-src="/upload/uf/220/5x6pgqskswrooh03aak61sxuzz76axdc.png" alt="Рептилии и террариумистика">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Жилье посуточно</a></h3>
        </div>
      </div>
    </div>

    <div class="catalog__grid-col catalog__grid-col--2-10">
      <div class="catalog__col-container">
        <img src="https://cdn-icons-png.flaticon.com/512/7603/7603391.png" class="lazy" data-src="/upload/uf/220/5x6pgqskswrooh03aak61sxuzz76axdc.png" alt="Рептилии и террариумистика">
        <div class="catalog__col-container-content">
          <h3 class="catalog__col-container-title text-base-small"><a href="">Мне повезет</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
