@forward 'node_modules/normalize.css/normalize';
@forward 'assets/styles/fonts';
@forward 'node_modules/ngx-neo-ui/assets/styles/theme-provider/common/accessibility/accessibility';
@forward 'node_modules/ngx-neo-ui/assets/styles/theme-provider/common/offsets/offsets';
@forward 'node_modules/ngx-neo-ui/assets/styles/theme-provider/common/palette/palette';
@forward 'node_modules/ngx-neo-ui/assets/styles/theme-provider/base-styles/typography/typography';
@forward 'node_modules/ngx-neo-ui/assets/styles/theme-provider/base-styles/container/container';
@use 'node_modules/ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;

$colorBase: #121314 !default;
$colorLight: rgba(#121314, 0.8) !default;
$colorLighter: rgba(#121314, 0.6) !default;
$colorLightest: rgba(#121314, 0.4) !default;

$colorBrand: #5409ff !default;
$colorSound: #9280bc !default;
$colorSoundLight: rgba(#9280bc, 0.6) !default;
$colorSound: #9280bc !default;
$bgColorMode: #F9F8F3 !default;

$fontSizeSmall: 14px !default;
$lineHeightSmall: 20px !default;

$fontSizeBase: 16px !default;
$lineHeightBase: 24px !default;

$fontSizeLarge: 18px !default;
$lineHeightLarge: 32px !default;

$borderRadiusSmall: 0;
$borderRadiusBase: 2px;
$borderRadiusLarge: 4px;

$transitionSmall: .2s;
$transitionBase: .4s;
$transitionLarge: .8s;

// neo-ui-input
$inputBorderWidth: 1px;
$inputBorderRadius: 0;
$inputBackgroundBase: #fff;
$inputColorBase: #fff;

$inputPaddingTopSmall: 8px;
$inputPaddingBottomSmall: 8px;
$inputPaddingLeftSmall: 8px;
$inputPaddingRightSmall: 8px;

$inputPaddingTopBase: 8px;
$inputPaddingBottomBase: 8px;
$inputPaddingLeftBase: 8px;
$inputPaddingRightBase: 8px;

$inputPaddingTopLarge: 8px;
$inputPaddingBottomLarge: 8px;
$inputPaddingLeftLarge: 8px;
$inputPaddingRightLarge: 8px;

$inputHeightSmall: auto;
$inputHeightBase: auto;
$inputHeightLarge: auto;

// neo-ui-button
$buttonBorderWidth: 3px;
$buttonBorderRadius: 0;
$buttonBackgroundBase: $colorBase;
$buttonColorBase: #fff;

$buttonPaddingTopSmall: 10px;
$buttonPaddingBottomSmall: 10px;
$buttonPaddingLeftSmall: 24px;
$buttonPaddingRightSmall: 24px;

$buttonPaddingTopBase: 14px;
$buttonPaddingBottomBase: 14px;
$buttonPaddingLeftBase: 30px;
$buttonPaddingRightBase: 30px;

$buttonPaddingTopLarge: 14px;
$buttonPaddingBottomLarge: 14px;
$buttonPaddingLeftLarge: 30px;
$buttonPaddingRightLarge: 30px;

$colorError: red !default;

$accessibilityBorder: #9b3be5 !default;
$accessibilityBackground: #fef0cc !default;

:root {
  --colorBase: #{$colorBase};
  --colorLight: #{$colorLight};
  --colorLighter: #{$colorLighter};
  --colorLightest: #{$colorLightest};

  --colorBrand: #{$colorBrand};
  --colorSound: #{$colorSound};
  --colorSoundLight: #{$colorSoundLight};
  --bgColorMode: #{$bgColorMode};

  --fontSizeSmall: #{$fontSizeSmall};
  --lineHeightSmall: #{$lineHeightSmall};

  --fontSizeBase: #{$fontSizeBase};
  --lineHeightBase: #{$lineHeightBase};

  --fontSizeLarge: #{$fontSizeLarge};
  --lineHeightLarge: #{$lineHeightLarge};

  // neo-ui-input
  --inputBorderWidth: #{$inputBorderWidth};
  --inputBorderRadius: #{$inputBorderRadius};
  --inputBackgroundBase: #{$inputBackgroundBase};
  --inputColorBase: #{$inputColorBase};
  --inputTransition: #{$transitionSmall};

  --inputPaddingTopSmall: #{$inputPaddingTopSmall};
  --inputPaddingBottomSmall: #{$inputPaddingBottomSmall};
  --inputPaddingLeftSmall: #{$inputPaddingLeftSmall};
  --inputPaddingRightSmall: #{$inputPaddingRightSmall};

  --inputPaddingTopBase: #{$inputPaddingTopBase};
  --inputPaddingBottomBase: #{$inputPaddingBottomBase};
  --inputPaddingLeftBase: #{$inputPaddingLeftBase};
  --inputPaddingRightBase: #{$inputPaddingRightBase};

  --inputPaddingTopLarge: #{$inputPaddingTopLarge};
  --inputPaddingBottomLarge: #{$inputPaddingBottomLarge};
  --inputPaddingLeftLarge: #{$inputPaddingLeftLarge};
  --inputPaddingRightLarge: #{$inputPaddingRightLarge};

  --inputHeightSmall: #{$inputHeightSmall};
  --inputHeightBase: #{$inputHeightBase};
  --inputHeightLarge: #{$inputHeightLarge};

  // neo-ui-button
  --buttonBorderWidth: #{$buttonBorderWidth};
  --buttonBorderRadius: #{$buttonBorderRadius};
  --buttonBackgroundBase: #{$buttonBackgroundBase};
  --buttonTransition: #{$transitionSmall};

  --buttonPaddingTopSmall: #{$buttonPaddingTopSmall};
  --buttonPaddingBottomSmall: #{$buttonPaddingBottomSmall};
  --buttonPaddingLeftSmall: #{$buttonPaddingLeftSmall};
  --buttonPaddingRightSmall: #{$buttonPaddingRightSmall};

  --buttonPaddingTopBase: #{$buttonPaddingTopBase};
  --buttonPaddingBottomBase: #{$buttonPaddingBottomBase};
  --buttonPaddingLeftBase: #{$buttonPaddingLeftBase};
  --buttonPaddingRightBase: #{$buttonPaddingRightBase};

  --buttonPaddingTopLarge: #{$buttonPaddingTopLarge};
  --buttonPaddingBottomLarge: #{$buttonPaddingBottomLarge};
  --buttonPaddingLeftLarge: #{$buttonPaddingLeftLarge};
  --buttonPaddingRightLarge: #{$buttonPaddingRightLarge};

  --accessibilityBorder: #{$accessibilityBorder};
  --accessibilityBackground: #{$accessibilityBackground};

  --colorError: #{$colorError};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--bgColorMode);
  color: var(--colorBase);
  font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
  transition: background-color 0.6s, padding-top 0.6s;
  will-change: padding-top;

  .app {
    min-height: calc(100vh - 80px);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

strong,
b {
  font-weight: bold;
}

ul,
ol {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

input {
  margin: 0;
  padding: 0;
}

.actions {
  @include theme.mq(md) {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      @include theme.mq(sm) {
        margin-bottom: 8px;
      }
      @include theme.mq(md) {
        margin-right: 16px;
      }
    }
  }
}
