<div class="site-footer">
  <div class="container">
    <div class="site-footer__grid">
      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4  mb-16">
          Каталог
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Для собак</a></li>
          <li><a href="#">Для кошек</a></li>
          <li><a href="#">Для рыб</a></li>
          <li><a href="#">Для рептилий</a></li>
          <li><a href="#">Для птиц</a></li>
          <li><a href="#">Для грызунов</a></li>
          <li><a href="#">Для хорьков</a></li>
          <li><a href="#">Для с/х животных</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4 mb-16">
          Сервис и помощь
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Способы оплаты</a></li>
          <li><a href="#">Возврат и обмен</a></li>
          <li><a href="#">Изменение заказа</a></li>
          <li><a href="#">Отмена заказа</a></li>
          <li><a href="#">Вопросы и ответы</a></li>
          <li><a href="#">Гарантии</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4 mb-16">
          Информация
        </h4>
        <ul class="text-base-small">
          <li><a href="#">Оформление заказа</a></li>
          <li><a href="#">Статус заказа</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Сертификаты</a></li>
          <li><a href="#">Стать поставщиком</a></li>
          <li><a href="#">О сайте</a></li>
        </ul>
      </div>

      <div class="site-footer__grid-col">
        <h4 class="site-footer__title heading-h4 mb-16">
          Контакты
        </h4>
        <ul class="text-base-small">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Стать партнером</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">117534, г. Москва, ул. Кировоградская, д.42.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
